h1 {
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    color: rgb(99, 177, 223);
    font-style: italic;
    text-align: center;
} 
body {background-color: black;
    text-align: center;

}
p {
    font-family: sans-serif;
    color: white;
    text-align: center;
}
ul {
  line-height: 40px;
  color: white;
  text-align: center;
}